
@import url("https://fonts.googleapis.com/css?family=Lobster+Two");
body {background-color: #C0E7F7;}
li{font-size: 20px;}
h1, h2{color: #080573;font-family: Lobster Two;}
body {background-color: #C0E7F7;}
li{font-size: 20px;}
h1, h2{color: #080573;font-family: Lobster Two;}